.contact {
  padding: 80px 140px 50px 140px;
  color: var(--text-white);
}
.contact span {
  cursor: pointer;
  color: var(--purple-main);
}

.contact h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.contact p {
  font-size: 1rem;
  padding-bottom: 35px;
  line-height: 27px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.form .input {
  color: var(--text-white);
  background-color: #e8f0fe !important;
  border: 1px solid white;
  padding: 24px 21px;
  width: 70%;
}

.form .input:focus{
    background-color: #e8f0fe;
    outline: none;

}
.form textarea {
  width: 70%;
  color: black;
  border: 1px solid white;
  background-color: #e8f0fe;
  padding: 24px 21px 60px 21px;
}

.form textarea:focus{
    background-color: #e8f0fe;
    outline: none;
}

.btnContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn {
  padding: 15px 40px;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: #623686;
  color: var(--text-white);
  width: 20%;
  margin-bottom: 15px; 
}

@media (max-width: 767px) {
  .contact {
    padding: 100px 50px 50px 50px;
  }
  .conatct h2{
    padding-top: 100px;

  }

  .form .input {
    width: 100%;
  }

  .form textarea {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .contact {
    padding: 80px 50px 50px 50px;
  }
}

@media (min-width: 1800px) {
  .contact {
    padding: 80px 250px 50px 250px;
  }
}
