.footer {
  color: var(--text-white);
  display:grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  background-color: rgb(10, 4, 22);
  position: sticky;
  bottom: 0;
  padding: 15px 0px;
}
.footer span{
    text-align: center;
}

.footerIcons{
    text-align: center;
    display: flex;
    gap: 30px;
    font-size: 1.3rem;
}


.footerIcons i{
  color: var(--text-white);
}


@media screen and (max-width:767px) {
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

  }
}