.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s; /*speed*/
  animation-iteration-count: infinite; /* dont stop*/
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.homePage {
  color: var(--text-white);
  /* margin:0px 100px; */
  margin-top: 90px;
  /* margin: 90px 140px 0px 140px; */
}

.hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 330px;
}

.hero h1{
  font-size: 3rem;
  padding-bottom: 17px;
  font-weight: 400;
}

@media screen and (max-width:767px) {
  .homePage{
    margin-left:  50px ;
    margin-right: 50px;
    margin-top: 200px;
  }
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero h1{
    font-size: 2.2rem;
  }
}
