.typeEffect {
  color: var(--purple-main);
  font-size: 3rem;
  padding-top: 30px;
}

@media screen and (max-width: 767px) {
  .typeEffect {
    font-size: 1.8rem;
  }
}

@media (min-width:1800px){
  .typeEffect{
    font-size: 5rem;
    padding-top: 50px;
  }
}
